* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    background-color: #bcaaa4;
    padding: 30px 15px;
    text-align: center;
    font-family: halant;
    font-size: 4em;
    line-height: 0.9;

}

img {
    margin-top: 200;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -10;
    opacity: 0.2;
}

form {
    margin: 40px 75px;
    font-size: 1.2em;
    font-family: "halant";
}

fieldset {
    padding: 10px 25px;
    margin-bottom: 25px;
}

legend {
    font-size: 1.3em;
    font-family: halant;
}

input {
    font-family: halant;
    font-size: 0.7em;
}

label {
    margin-right: 10px;
}

select, option {
    font-family: halant;
    font-size: 0.8em;
    margin-right: 15px;
}

div {
    display: inline-block;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
}