body {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  color: #000000;
  margin: 0;
  background-color: lightslategray;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  margin: 15px;
  text-align: center;
  background-color: lawngreen;
}

