#event-application {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}

body {
    color: #080808;
}

fieldset {
    width: 85vw;
}

#firstName {
    width: 60%;
    text-align: center;
} 

#lastName {
    width: 60%;
    text-align: center;
} 

.she {
    background-color: #BDBBB0;
}

.he {
    background-color: #4FB286;
}

.theyThem { 
    background-color: #3C896D;
}