#event-application {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}

body {
    color: #080808;
}

fieldset {
    width: 85vw;
}

#firstName {
    width: 60%;
    text-align: center;
} 

#lastName {
    width: 60%;
    text-align: center;
} 

ul {
    list-style: none;
}

#events {
    width: 100vw;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

.event {
    display: inline-block;
    width: 45%;
    text-align: center;
}

@media (min-width: 700px) {
    
    #firstName {
        width: 20%;
    }

    #lastName {
        width: 20%;
    }

    fieldset {
        width: 50vw;
    }
}
/* background colors, unneeded
.she {
    background-color: #BDBBB0;
}

.he {
    background-color: #4FB286;
}

.theyThem { 
    background-color: #3C896D;
} */

